DATABASE_URL="postgresql://postgres:1234@localhost:5432/elearning_db?schema=public"
NEXTAUTH_SECRET="super-secret-lms-key-1234"
NEXTAUTH_URL="http://localhost:3000"
EXTERNAL_API_KEY="generate-external-api-key"
